@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    flex: 1;
}

.nosotros {
  padding: 50px;
}
.tittle{
    font-family: 'Montserrat';
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: hsl(251, 80%, 42%);
}

.contenedor-nosotros {
  display: inline-block;
   gap: 40px;

}

.nosotros h2 {
  text-align: center;
  margin-bottom: 20px;
}

.intro {
  text-align: center;
  margin-bottom: 40px;
  background: cornflowerblue;
  color: cornsilk;
}

.bloques{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    flex-direction: row;
}
.bloque {   
    flex: 1 1 250px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(80, 80, 194);
    font-family: 'Courier New', Courier, monospace;
    flex-wrap: wrap;
}
.bloque:hover{
   transform: translateY(-10px);
   box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.bloque:focus{
    outline: 2px solid grey;
    box-shadow: 10px 15px 25px rgba(7, 94, 4, 0.452);
}
.bloque::before{
   content: "";
   position: absolute;
   inset: 0;
   background: rgba(0,0,80,0.5);
   opacity: 0;
   transition: 0.3s;
   position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
    .bloques{
        flex-direction: column;
    }
}



