@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   background: lightgray;
    overflow-x: hidden;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.photo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid white;
    text-align: center;
    background: rgb(151, 151, 214);
    display: flex;
}

header{
    background-color: hsl(251, 80%, 42%);
    color: white;
    padding: 20px;
    text-align: center;
    position: sticky;
    top: 0;
    width: 100%;
}
h1{
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-weight: 600;
    font-style: normal;

}
.Barra{
    display: flex;
    justify-content: flex-start;
    background-color: #333;
    flex-direction: row;
    list-style: none;
    gap: 10px;
    padding: 20px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;    
}

.fondo {
    background-image: url(../img/ima.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 86vh;
    width: 100%;
    overflow: hidden;
}
.fondo:hover{
    transform: scale(1.06) translate(-8px);
    transition: transform 0.8s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logo {
    color:gray;
}
/* .logo{
    background-image: url("../img/imagen.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    color:blue;
    height: 100vh;
    width: 70vw;
    
} */
.historia{
    text-align: center;
    color: navy;
    font-family: "Playfair Display SC", serif;
    font-weight: 700;
    font-style: normal;
}
.s{
    color: navy;
}
main, footer{
   height: 89vh;
   flex: 1;
}

.Cards{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    
}
.Card{
    display: flex;
    justify-content: center;
    height: 260px;
    width: 300px;
    color:black;
    margin: auto;
    border: 1px solid grey;
    border-radius: 10px;
    overflow: hidden;
    flex-wrap: wrap;
    flex: 1;
    box-shadow: 3px 2px 8px rgb(9, 10, 0.5);
}
.Card:hover{
    transform: scale(1.06) translate(-4px);
    transition: transform 0.8s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.encabezado-Card{
    height: 20%;
    width: 10%;
}
.img-Card{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid white;
    text-align: center;
    background: rgb(151, 151, 214);
    display: flex;
    justify-content: center;
    align-items: center;
}
.cuerpo-Card{
    padding: 20px;
     background-color: rgb(120, 101, 224);
}
.nombre{
    font-family: "Playfair Display SC", serif;
    font-weight: 700;
    font-style: normal;
}
.servicio{
  color:black;
  font-size: 14px;
  margin-right: 15px;
}
.descripcion{
    color:black;
    font-size: 12px;
}
.social-link {
    display: inline-block; /* Uno al lado del otro */
    gap: 10px; /* Espacio entre los enlaces */
}

/* Cambio de color al pasar el mouse */
.social-link:hover {
    color: #00b894;
}
.container-icons{
   text-align: center;
    background-color: grey;
    width: 100%;
}

.icons i {
    display:inline-block; /* Uno al lado del otro */
    gap: 10px; /* Espacio entre los iconos */
    font-size: 30px;
    margin: 10px;
    text-align: center;
}






a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: hsl(251, 80%, 42%);

    
}

a::after{
    display: block;
    width: 0;
    height: 2px;
    background-color: white;
    
}
a::before{
    display: block;
    width: 0;
    height: 2px;
    background-color: white;
    
}
.barra2 {
    display: flex;
    background-color: #333;
    list-style: none;
    gap: 2rem 0;
    padding: 20px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;

}
@media (min-width: 0px) and (max-width: 768px) {
    .Cards{
        flex-direction: column;
    }

}
@media (min-width: 0px) and (max-width: 425px){
    header .Barra{
        flex-direction: column;
    }
}

